<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="vh-100 container pt-2 text-center d-fex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. At quos, perferendis nobis veniam incidunt assumenda. Soluta necessitatibus eligendi consequatur pariatur adipisci quasi. Autem, quas nihil facere magnam quibusdam dolores eos repellat. Exercitationem officiis laudantium et at nobis rerum tempore eius eum ipsa! Fugiat ipsum sunt ducimus vero similique ipsa ab harum laboriosam laudantium consequatur. Officia doloribus dolore magni. Voluptate explicabo repudiandae enim magni eius, fuga quia non aliquid quaerat sint numquam, ea ipsa, vitae sed! Nobis velit, incidunt, delectus ducimus, vero officiis dicta id quae quibusdam exercitationem voluptatem. Reiciendis, cum! Saepe necessitatibus aliquid accusantium minima sapiente sit deleniti? Aliquid nesciunt debitis doloremque amet beatae error obcaecati soluta laudantium quibusdam ullam, iste possimus odit numquam magni, cum aperiam voluptates? Fugit maiores sequi ea magni ab neque officiis voluptatum sunt incidunt pariatur, voluptatem nihil blanditiis vitae, quisquam nobis quos praesentium quo qui placeat modi laboriosam saepe, quis rem! Voluptatibus qui eius consectetur velit, rem, eligendi blanditiis non quae quasi, recusandae laborum quod nesciunt saepe? Ab hic voluptatem dolorem illo minus harum, quibusdam labore dolores perspiciatis nobis cupiditate possimus impedit corporis quod earum, aut culpa unde! Quae veniam amet aliquam, quia inventore autem reiciendis quaerat suscipit earum maiores voluptatum sequi? Ipsum, et? Culpa ex illum, dolorem nulla doloribus similique porro? Quae delectus cumque ipsam facilis saepe fuga fugiat, accusamus magnam corporis? Deserunt animi quam fuga suscipit nihil rerum totam quos tempore, obcaecati odio! Quasi, dolor tenetur itaque quod veniam modi ab temporibus labore. Natus consequatur animi labore eos quaerat unde sed temporibus, dicta ipsa nam possimus officiis quos distinctio eligendi nesciunt quae nulla. Voluptas et eligendi, quae accusantium voluptatum laudantium. Non eveniet nulla blanditiis quo aliquam quidem, excepturi, illum voluptate unde sequi, optio porro at fuga officia ratione reiciendis consectetur ad. Qui eligendi, maxime eveniet adipisci impedit corporis dicta nulla architecto sapiente molestiae voluptas. Ratione veritatis veniam mollitia est maxime sapiente deleniti aut at praesentium facilis cupiditate totam ea doloremque quas nam pariatur quaerat, delectus quibusdam aliquid numquam distinctio voluptatibus? Nemo enim ea numquam natus? Cumque dolores cum tenetur quod molestiae dolorum facere illum magni, sit officia iure repellat qui quae aspernatur voluptas corrupti. Architecto perspiciatis ratione maxime necessitatibus hic ex tenetur eos fugiat? Asperiores quaerat enim exercitationem! Praesentium, quaerat! Minus, veniam accusamus recusandae eaque atque magnam nobis sed maiores delectus explicabo, sapiente illo ab facilis laboriosam. Eos ad ipsum iusto quae provident explicabo, dolorum recusandae culpa voluptate molestias esse nobis vel ducimus ut repellendus, maiores laudantium dolores ullam maxime at facere laboriosam nostrum. Ipsum cum consectetur similique dolorum voluptate officiis ratione quaerat rem corporis praesentium quasi tempore est quisquam voluptas suscipit soluta deserunt, necessitatibus deleniti. Consequuntur, explicabo ipsa. Dolorum quasi neque at quidem veritatis, officiis eaque perferendis ea, veniam consequatur incidunt ratione voluptatibus unde ad! Vero molestias fugit qui sit blanditiis soluta delectus ipsam animi aliquid iusto tempora vitae ut, aspernatur nostrum doloribus facilis nobis excepturi non omnis dolorum dicta et sapiente, inventore quod. Minus pariatur, illum labore nam magnam dolores facilis eos nulla. Fugit officia, consequuntur expedita in omnis ea esse.</p>
        </section>
    </main>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>